{% extends "base.html.twig" %}

{% block title "Faelivrin - Contactez-nous" %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}
    <div class="jumbotron listdiscipline">
        <div class="row teamu">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 card">
                        <div class="card-body">
                            <h3 class="card-title">Sa seigneurie</h3>
                            <p class="card-text">
                            <ul>
                                <li>Problème technique ( Site web / Discord )</li>
                                <li>Problème sur l'organisation <strong>global</strong></li>
                                <li>Problème sur l'organisation du jeu <strong>Warcraft III</strong></li>
                                <li>Comme une envie d'exprimer votre amour</li>
                            </ul>
                            Si votre problème fait partit de cette liste merci de contacter la personne ci-dessous.
                            </p>
                        </div>
                        <div class="linku">
                            <h3>Zeatlan#0727</h3>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-4 col-md-6 card">
                        <div class="card-body">
                            <h3 class="card-title">Princesse Nalo</h3>
                            <p class="card-text">
                            <ul>
                                <li>Vous manquez d'un profond manque d'affection</li>
                                <li>Vous avez besoin que l'on vous dise "Gambatte !"</li>
                            </ul>
                            Si votre problème fait partit de cette liste merci de contacter la personne ci-dessous.
                            </p>
                        </div>
                        <div class="linku">
                            <h3>nalo_#3437</h3>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-4 col-md-6 card">
                        <div class="card-body">
                            <h3 class="card-title">Duc Okplabs</h3>
                            <p class="card-text">
                            <ul>
                                <li>Problème technique/schedule par rapport à <strong>Hearthstone</strong></li>
                            </ul>
                            Si votre problème fait partit de cette liste merci de contacter la personne ci-dessous.
                            </p>
                        </div>
                        <div class="linku">
                            <h3>Papayapa#8068</h3>
                        </div>
                    </div>



                    <div class="col-xl-3 col-lg-4 col-md-6 card">
                        <div class="card-body">
                            <h3 class="card-title">Duc Berni</h3>
                            <p class="card-text">
                            <ul>
                                <li>Problème technique/schedule par rapport à <strong>Osu</strong></li>
                                <li>Comme une envie de pied</li>
                            </ul>
                            Si votre problème fait partit de cette liste merci de contacter la personne ci-dessous.
                            </p>
                        </div>
                        <div class="linku">
                            <h3>Berni#8538</h3>
                        </div>
                    </div>



                    <div class="col-xl-3 col-lg-4 col-md-6 card">
                        <div class="card-body">
                            <h3 class="card-title">Duc Byakuran</h3>
                            <p class="card-text">
                            <ul>
                                <li>Problème technique/schedule par rapport à <strong>Counter Strike</strong></li>
                                <li>Problème technique/schedule par rapport à <strong>Track Mania</strong></li>
                                <li>Problème technique/schedule par rapport à <strong>Dota</strong></li>
                            </ul>
                            Si votre problème fait partit de cette liste merci de contacter la personne ci-dessous.
                            </p>
                        </div>
                        <div class="linku">
                            <h3>Byakuran#3038</h3>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-4 col-md-6 card">
                        <div class="card-body">
                            <h3 class="card-title">Messager/Duc CXLP</h3>
                            <p class="card-text">
                            <ul>
                                <li>Problème technique/schedule par rapport à <strong>League of Legends</strong></li>
                                <li>Un besoin de faire -_-</li>
                                <li>Problème de stream</li>
                            </ul>
                            Si votre problème fait partit de cette liste merci de contacter la personne ci-dessous.
                            </p>
                        </div>
                        <div class="linku">
                            <h3>CXLP#7441</h3>
                        </div>
                    </div>



                    <div class="col-xl-3 col-lg-4 col-md-6 card">
                        <div class="card-body">
                            <h3 class="card-title">Messager/Duc Cyriod</h3>
                            <p class="card-text">
                            <ul>
                                <li>Problème technique/schedule par rapport à <strong>Legend of runeterra</strong></li>
                                <li>Un besoin d'avoir une ambiance g@m1ngz</li>
                                <li>Problème de stream</li>
                            </ul>
                            Si votre problème fait partit de cette liste merci de contacter la personne ci-dessous.
                            </p>
                        </div>
                        <div class="linku">
                            <h3>Cyriod#2464</h3>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-6 card">
                        <div class="card-body">
                            <h3 class="card-title">Messagère/Duchesse Shinori</h3>
                            <p class="card-text">
                            <ul>
                                <li>Problème technique/schedule par rapport à <strong>Tetris</strong></li>
                                <li>Problème de stream</li>
                            </ul>
                            Si votre problème fait partit de cette liste merci de contacter la personne ci-dessous.
                            </p>
                        </div>
                        <div class="linku">
                            <h3>shinori#1379</h3>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-4 col-md-6 card">
                        <div class="card-body">
                            <h3 class="card-title">Messager/Duc ZelphiX</h3>
                            <p class="card-text">
                            <ul>
                                <li>Problème technique/schedule par rapport à <strong>Minecraft</strong></li>
                                <li>Problème de stream</li>
                            </ul>
                            Si votre problème fait partit de cette liste merci de contacter la personne ci-dessous.
                            </p>
                        </div>
                        <div class="linku">
                            <h3>ZelphiX#1781</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}